@model astronomy5.Models.Lidaparati

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lidaparati</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nosaukums)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nosaukums)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apraksts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apraksts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LidID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
