<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/simple-sidebar.css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#"> Astronomy</a>
                </li>
                <li>
                    @Html.ActionLink("Sākums", "Index", "Home")
                </li>
                <li>
                    <a href="#">Planētas saules sistēmā</a>
                </li>
                <li>
                    <a href="#">Izpētes misijas</a>
                </li>
                <li>
                    <a href="#">Tehnika un lidaparāti</a>
                </li>
                <li>
                    @Html.ActionLink("Par mums", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("Kontakti", "Contact", "Home")
                </li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
